body {
 font-family: 'Poppins', sans-serif;
  background-color: #FEFEFE;

}

a {
  color: black;
  text-decoration: none;
}


.border{
  border: black solid 1px;
}

.title-container{
  width: 100vw;
  height: 100%;
  position: relative;
  border-bottom: solid #33C3F0 1px;
  background-color: #EBEBEB;
  background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.title-containerUser{
  width: 100vw;
  height: 100%;
  position: relative;
  border-bottom: solid #33C3F0 1px;
  /*background-color: #EBEBEB;*/
  background-image: url("https://images.unsplash.com/photo-1416339684178-3a239570f315?q=80&fm=jpg&s=b53f387f2a3723625be71052812a97de");
  background-size: cover;
  /*background-position: center;*/
  color: #33C3F0;
}


.title-containerResources{
  width: 100vw;
  height: 100%;
  position: relative;
  border-bottom: solid #33C3F0 1px;
  background-color: #EBEBEB;
  background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66");
  background-position: center;
}
.front{
  padding-top: 30px;
}


.jumbothing{
  height: 100vh;
  background-color: #EBEBEB;
  border-top: solid #33C3F0 1px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66");
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-position: top;
}

.jumbothingUser{
  height: 60vh;
  background-color: #EBEBEB;
  border-top: solid #33C3F0 1px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("https://images.unsplash.com/photo-1416339684178-3a239570f315?q=80&fm=jpg&s=b53f387f2a3723625be71052812a97de");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.jumbothingResources{
  height: 60vh;
  background-color: #EBEBEB;
  border-top: solid #33C3F0 1px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66");
  background-size: cover;
  background-repeat: no-repeat;
}

.content{
  background-color: #EBEBEB;
  border-top: solid #33C3F0 1px;
  border-bottom: solid #33C3F0 1px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.center-text{
  text-align: center;
}

.font-100{
  font-size: 100px;
}

.underline{
  text-decoration: underline;
}

.left-text{
  text-align: left;
}

.fa-pencil{
  padding-left: 8px;
}

.fa-times:hover{
  color: red;
  cursor: pointer;
}

.fa-pencil:hover{
  color: orange;
  cursor: pointer;
}

.full-height{
  word-wrap: break-word;
  height: 70vh;
  overflow: scroll;
}

.note-title:hover{
  color: blue;
  cursor: pointer;
}

.success{
  background-color: rgba(51, 195, 240, 0.3);
  margin-bottom: 20px;
  padding-top: 20px;
  color: white;
}

.ng-hide{
  transition : 0.3s linear all;
  opacity: 0;
}

.markdown-title{
  margin-left: 20px;
}

.ng-hide-remove {
  transition: all linear 500ms;
}

.ng-hide-add {
  transition: all linear 500ms;
}

.user-button.ng-hide{
  visibility: hidden;
  display: block !important;
}

.success.ng-hide{
  visibility: hidden;
  display: block !important;
}

.front-image{
  background-image: linear-gradient(to bottom, hsla(0, 0%, 92%, 0.9), hsla(0, 0%, 92%, 0.9)), url('../images/Eploding-Brain.jpg');
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.markdown{
  background-color: white;
  border: solid #33C3F0 1px;
}

.user-image{
  height: 200px;
  padding-top: 10px;
}

img{
  border: solid #33C3F0 1px
}

/*.logout{
  padding-top: 20px;
}*/

