body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.border{
  border: black solid 1px;
}

.title-container{
  width: 100vw;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}

.center-text{
  text-align: center;
}

.font-100{
  font-size: 100px;
}

.underline{
  text-decoration: underline;
}

.left-text{
  text-align: left;
}

.fa-pencil{
  padding-left: 8px;
}

.fa-times:hover{
  color: red;
  cursor: pointer;
}

.fa-pencil:hover{
  color: orange;
  cursor: pointer;
}

.full-height{
  word-wrap: break-word;
  height: 70vh;
  overflow: scroll;
}

.note-title:hover{
  color: blue;
  cursor: pointer;
}

.success{
  background-color: rgba(91, 255, 41, 0.5);
  margin-bottom: 20px;
  padding-top: 15px;
}

.ng-hide{
  transition : 0.3s linear all;
  opacity: 0;
}

.markdown-title{
  margin-left: 20px;
}

.ng-hide-remove {
  transition: all linear 500ms;
}

.ng-hide-add {
  transition: all linear 500ms;
}

.user-button.ng-hide{
  visibility: hidden;
  display: block !important;
}

.success.ng-hide{
  visibility: hidden;
  display: block !important;
}

.front-image{
  background-image: linear-gradient(to bottom, hsla(194, 86%, 57%, 0.6), hsla(194, 86%, 57%, 0.7)), url('../images/Eploding-Brain.jpg');
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

