body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.border{
  border: black solid 1px;
}

.title-container{
  width: 100vw;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}

.center-text{
  text-align: center;
}

.font-100{
  font-size: 100px;
}

.underline{
  text-decoration: underline;
}

.left-text{
  text-align: left;
}

.fa-pencil{
  padding-left: 8px;
}

.fa-times:hover{
  color: red;
  cursor: pointer;
}

.fa-pencil:hover{
  color: orange;
  cursor: pointer;
}

