<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Up Login</title>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

  <div class = 'title-container'>
  <div class = 'row center-text'>
      <h1 class = 'center-text font-200'>Study Up</h1>
    </div>
  </div>


  <div class = 'container'>

    <div class = 'row front '>

    <div class = 'four columns'>
     <a href = '/auth/github'><input class="button-primary u-full-width" type="button" value="Sign In with Github"></a>
     <p class = 'home-text'>Sign in with Github and start making links to your favourite websites and tutorials. You can also use our note-taking function to create notes using markdown and preview them live.</p>
    </div>

      <div class = 'four columns'>
        <a href = '/resources' class = 'u-full-width'><input class = 'button-primary u-full-width' type = 'button' value = 'Resources'></a>
        <p class = 'home-text'>You can view all the resources other users have added to their own collections and see how they're rated.</p>
      </div>

      <div class = 'four columns'>
      <input class = 'button-primary u-full-width' type = 'button' value = 'Blog Posts'>
      <p class = 'home-text'>Feature coming soon...</p>
      </div>
    </div>

  </div>

    <div class = 'jumbothing'>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <script type="text/javascript" src = '../js/index/app.js'></script>
  <script type="text/javascript" src = '../js/index/controllers.js'></script>
  <script type="text/javascript" src = '../js/index/directives.js'></script>
  <script type="text/javascript" src = '../js/index/filters.js'></script>
  <script type="text/javascript" src = '../js/index/services.js'></script>
</body>
</html>
