<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Stuff Login</title>
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
<h1>testing login route</h1>

  <form>
    <div class = 'row'>
     <a href = '/auth/github'><input class="button-primary u-full-width" type="button" value="Authenticate with Github"></a>
    </div>
  </form>

</body>
</html>
