<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Stuff Login</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

  <div class = 'title-container border'>
  <div class = 'row center-text'>
      <h1 class = 'center-text font-100'>Study Stuff</h1>
<!--       <i class="fa fa-ambulance fa-4x offset-by-four one column fa-fw"></i>
      <i class="fa fa-industry one column fa-4x"></i>
      <i class="fa fa-hand-paper-o one column fa-fw fa-4x"></i>
       <i class="fa fa-optin-monster one column fa-fw fa-4x"></i> -->
    </div>
  </div>

  <div class = 'container'>

  <form>
    <div class = 'row'>
     <a href = '/auth/github'><input class="button-primary offset-by-three six columns" type="button" value="Sign In with Github"></a>
    </div>
    <div class = 'row'>
      <input class = 'button-primary offset-by-three three columns' type = 'button' value = 'Resources'>
      <input class = 'button-primary  three columns' type = 'button' value = 'Blog Posts'>
    </div>
  </form>

  </div>

</body>
</html>
