<!DOCTYPE html>
<html ng-app = 'resourcesApp'>
<head>
  <meta charset="UTF-8">
  <title>Study Stuff Resources</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body ng-controller = 'ResourcesController'>

  <div class = 'title-containerResources border'>
  <div class = 'row center-text'>
      <h1 class = 'center-text font-100'>Resources</h1>
    </div>
  </div>

  <div class = 'container'>

    <div class = 'row content'>

    <table class = 'u-full-width underline'>
      <thead>
        <tr class = 'border-underneath'>
          <th class = 'six columns click' ng-click = 'orderTutorials("link")'>Link</th>
          <th class = 'four columns click' ng-click = 'orderTutorials("tags")'>Tags</th>
          <th class = 'two columns click' ng-click = 'orderTutorials("rating")'>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = 'tutorial in userTutorials | orderBy:predicate:reverse' class = 'border-underneath'>
          <td class = 'six columns'><a href = '{{tutorial.link}}' target = '_blank'>{{tutorial.link}}</a></td>
          <td class = 'four columns'>{{tutorial.tags[0]}}</td>
          <td class = 'two columns'>{{tutorial.rating}}/5</td>
        </tr>
      </tbody>
    </table>
    </div>

    </div>

    <br>

      <div class = 'row'>
       <div class = 'offset-by-five two columns center-text logout'>
       <a href = '/'>
        <button class = 'u-full-width button-primary'>
        Home
        </button>
        </a>
      </div>
    </div>


    <div class = 'jumbothingResources'>

    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <script type="text/javascript" src = '../js/resources/app.js'></script>
  <script type="text/javascript" src = '../js/resources/controllers.js'></script>
  <script type="text/javascript" src = '../js/resources/services.js'></script>
</html>
