<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Stuff Resources</title>
   <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<h1>testing resources route</h1>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <script type="text/javascript" src = '../js/resources/app.js'></script>
  <script type="text/javascript" src = '../js/resources/controllers.js'></script>
  <script type="text/javascript" src = '../js/resources/directives.js'></script>
  <script type="text/javascript" src = '../js/resources/filters.js'></script>
  <script type="text/javascript" src = '../js/resources/services.js'></script>
</html>
