<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Stuff User</title>
   <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
  <div class = 'title-container border'>
    <div class = 'row center-text'>
      <h1 class = 'center-text font-100'>Welcome</h1>
       <h4>{{user}}</h4>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <script type="text/javascript" src = '../js/user/app.js'></script>
  <script type="text/javascript" src = '../js/user/controllers.js'></script>
  <script type="text/javascript" src = '../js/user/directives.js'></script>
  <script type="text/javascript" src = '../js/user/filters.js'></script>
  <script type="text/javascript" src = '../js/user/services.js'></script>
</body>
</html>
